.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

}

.badge {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 12px;

  border-radius: 999px;

  background: #F3F4F6;

  color: #6B7280;

  font-size: 12px;
  font-weight: 500;

  transition: all .2s ease;
}

.valid {
  background: #FFF3E8;

  color: var(--color-primary);
}