.form {

  display: flex;

  flex-direction: column;

  gap: 32px;

}


.resend {

  text-align: center;

  font-size: 14px;

  color: #777;

}


.resend button {

  margin-left: 6px;

  border: none;

  background: transparent;

  color: var(--color-primary);

  font-weight: 600;

  cursor: pointer;

}