.form {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.passwordGroup {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 12px;
}