.section {
  padding: 50px 0;
}

.container {
  width: min(1180px, calc(100% - 48px));

  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr 420px;

  gap: 100px;

  align-items: center;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: 10px 20px;

  border-radius: 999px;

  background: #FFF8DF;

  color: #D58B00;

  font-size: 14px;
  font-weight: 500;

}

.left h2 {
  margin-top: 24px;
  max-width: 480px;

  font-size: 32px;

  font-weight: 500;
}

.left p {
  margin-top: 16px;
  max-width: 480px;

  line-height: 1.8;

  color: #666;
}

.stats {
  margin-top: 20px;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
}

.right {
  display: flex;

  justify-content: center;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-top: 36px;

  width: 150px;
  height: 52px;

  border-radius: 999px;

  background: #ff6b00;

  color: #ffffff;
  text-decoration: none;

  font-weight: 600;

  transition:
    transform .25s ease,
    background .25s ease;
}

.button:hover {
  background: #e86100;

  transform: translateY(-2px);
}

@media (max-width: 960px) {

  .section {
    padding: 50px 0;
  }

  .left h2 {
  font-size: 24px;

  font-weight: 500;
}

  .container {
    width: calc(100% - 32px); /* 16px left & right */
    margin: 0 auto;

    grid-template-columns: 1fr;

    gap: 80px; /* Space between content and phone mockup */
  }

  .left {
    width: 100%;
  }

  .left h2,
  .left p {
    max-width: 100%;
  }

  .right {
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}