.section {
  padding: 50px 0;
}

.container {
  width: min(1180px, calc(100% - 48px));

  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr 420px;

  gap: 100px;

  align-items: center;
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: fit-content;

  padding: 10px 20px;

  border-radius: 999px;

  background: #FFF8DF;

  color: #D58B00;

  font-size: 14px;
  font-weight: 500;

}

.left h2 {
  margin-top: 24px;
  max-width: 480px;

  font-size: 32px;

  font-weight: 500;
}

.left p {
  margin-top: 16px;
  max-width: 480px;

  line-height: 1.8;

  color: #666;
}

.stats {
  margin-top: 20px;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
}

.right {
  display: flex;

  justify-content: center;
}

@media (max-width: 960px) {

  .container {
    grid-template-columns: 1fr;

    gap: 64px;
  }

  .stats {
    grid-template-columns: 1fr;
  }
}