.card {
  background: white;

  border-radius: 20px;

  border: 0.5px solid #dad8d8;

  padding: 20px;

  /* box-shadow: 0 20px 40px rgba(0,0,0,.08); */

  display: flex;

  flex-direction: column;

  gap: 8px;
}

.card span {
  font-size: 14px;

  color: #777;
}

.card strong {
  font-size: 24px;

  color: #222;
}