.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;

  color: #30323a;
}

.list {
  min-height: 166px;

  display: flex;
  align-items: center;

  list-style: none;

  background: transparent;
  border: 2px solid #c8cfdf;
  border-radius: 28px;

  padding: 24px 34px;
}

.item {
  display: flex;
  align-items: center;
  gap: 14px;

  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;

  flex: 1;
}

.name {
  font-size: 20px;
  font-weight: 400;
  color: #29385d;
}

.meta {
  font-size: 18px;
  color: #29385d;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount {
  font-size: 14px;
  font-weight: 500;
}

.date {
  font-size: 12px;
  color: #6b7280;
}

@media (max-width: 767px) {
  .section {
    gap: 20px;
  }

  .title {
    font-size: 24px;
  }

  .list {
    min-height: 166px;
    padding: 24px 16px;
    border-radius: 28px;
  }
}