.header {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.header h1 {
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text);
}

.header p {
  color: var(--color-text-secondary);
  font-size: 12px;
  line-height: 1.6;
}