body {
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    justify-content: center;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

